<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StockManagementProject</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StockManagementProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/stylesheet.css" asp-append-version="true" />

     <!-- Font Awesome -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
            integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />

    <!-- Bootstrap -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous"
    />

    
</head>
<body>
   
    <!-- Sidebar -->
    <div class="sidebar d-flex flex-column">
        <h5 class="text-white text-center mb-4">
            <i class="bi bi-box-seam"></i> Stock Ms
        </h5>
    
        <a asp-controller="UserManagement" asp-action="UserManagement" class="mb-2"><i class="fa-solid fa-users"></i> User Management</a>
        <a asp-controller="Dashboard" asp-action="ViewDashboard" class="mb-2 active"> <i class="fa-solid fa-grip"></i> Dashboard</a>
        <a asp-controller="Inventory" asp-action="ViewInventory" class="mb-2"><i class="fa-solid fa-cart-flatbed"></i> Inventory</a>
        <a asp-controller="Product" asp-action="ViewProduct" class="mb-2"><i class="fa-solid fa-box-open"></i> Product</a>
        <a asp-controller="Supplier" asp-action="ViewSupplier" class="mb-2"><i class="fa-solid fa-user-secret"></i> Supplier</a>
        <a asp-controller="Warehouse" asp-action="ViewWarehouse" class="mb-2"><i class="fa-solid fa-warehouse"></i> Warehouse</a>
        <div class="mt-auto">
            <a asp-controller="Login"
               asp-action="ViewLogin"
               class="text-white">
                <i class="fa-solid fa-right-from-bracket"></i> Logout
            </a>

        </div>

    </div>

    <!-- Main Dashboard Content -->
    <div class="main-content">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h4>Dashboard</h4>
            <div class="user-info">
                <p class="mb-0 fw-semibold">
                    <img src="https://randomuser.me/api/portraits/women/44.jpg"
                         class="rounded-circle me-2"
                         width="40"
                         height="40"
                         alt="Profile">Danielle Campbell
                </p>
                <small>daniellecampbell@gmail.com</small>
            </div>
        </div>
        
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
