@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock MS Login</title>
    <link href="~/css/login.css" rel="stylesheet" />
</head>
<body>

    <div class="login-container">

        <!-- LEFT -->
        <div class="left">
            <h1>Welcome to Stock MS</h1>
            <p>Join Us Now !</p>

            <div class="chart-box">
                <div class="bar red"></div>
                <div class="bar pink"></div>
                <div class="bar white"></div>
                <div class="bar red"></div>
                <div class="bar pink tall"></div>

                <svg class="line" viewBox="0 0 300 200">
                    <polyline points="20,160 80,90 150,120 220,60 280,30"
                              fill="none" stroke="#fff" stroke-width="4" />
                    <circle cx="20" cy="160" r="6" fill="#fff" />
                    <polygon points="270,25 290,35 270,45" fill="#fff" />
                </svg>
            </div>
        </div>

        <!-- RIGHT -->
        <div class="right">
            <h2>Welcome back</h2>
            <p class="subtitle">Welcome back! Please enter your details.</p>

            <form>
                <label>Email</label>
                <input type="email" placeholder="Enter your email" required>

                <label>Password</label>
                <input type="password" placeholder="Enter your Password" required>

                <div class="options">
                    <label class="remember">
                        <input type="checkbox">
                        <span>Remember for the day</span>
                    </label>

                    <a asp-controller="Reset_Password" asp-action="ViewReset_Password" class="forgot">
                        Forgot password?
                    </a>

                </div>


                <button type="submit" asp-controller="UserManagement" asp-action="UserManagement">Sign in</button>
            </form>
        </div>

    </div>

</body>
</html>
