body {
    background-color: #f8f9fa;
    font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

.sidebar {
    height: 100vh;
    background-color: #6f42c1;
    color: white;
    position: fixed;
    width: 220px;
    padding: 20px 10px;
}

    .sidebar a {
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        transition: 0.3s;
    }

        .sidebar a:hover, .sidebar a.active {
            background-color: #8757e0;
        }

    .sidebar i {
        margin-right: 10px;
        font-size: 18px;
    }

.main-content {
    margin-left: 240px;
    padding: 30px;
}

.card-info {
    background-color: white;
    border: none;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.chart-box {
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.user-info {
    text-align: right;
}

.logout {
    position: absolute;
    bottom: 20px;
    width: 100%;
}


